header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  align-items: center;
}
ul {
  display: flex;
  list-style-type: none;
}
li a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

.form {
  text-align: center;
  margin-top: 50px;
  width: 200px;
  background: rgba(128, 128, 128, 0.178);
  border-radius: 10px;
}
label {
  color: grey;
  font-size: 20px;
}
input:hover {
  background: burlywood;
}
input::placeholder {
  color: rgb(255, 136, 0);
}
[type='submit'] {
  width: 70px;
}
[type='submit']:active {
  background: yellowgreen;
}
