<div class="cont">
  <div class="animeteSqure">
    <div class="squre"></div>
    <span class="button buttonAnimStart">Stop/Start animate</span>
  </div>
  <div class="watcher">
    <div class="box-circl">
      <div class="tweenty">12</div>
      <div class="nine">9</div>
      <div class="three">3</div>
      <div class="six">6</div>
    </div>
    <span class=" button buttonTogleBack">Background Watcher</span>
  </div>
</div>