<div class="container">
  <div class="row h-100">
    <!-- =================1======= col-12  для header========= -->
    <div class="col-12 ">
      <div class="header outline-seo-block-pink">
        <!-- =================1 row для header============= -->
        <div
          class="row justify-content-around align-content-center outline-row-red "
        >
          <div class="col-5 col-md-2 img-logo header-div">
            <img src="img/marvel-logo.jpg" alt="logo" />
          </div>
          <div
            class="col-11 mt-2 mt-md-0 col-md-3 d-flex  justify-content-center  align-items-center outline-flex-block-blue header-div "
          >
            <ul class="main-nav  outline-flex-block-div-child ">
              <li><a href="#">lorem</a></li>
              <li><a href="#">lorem</a></li>
              <li><a href="#">lorem</a></li>
              <li><a href="#">lorem</a></li>
            </ul>
          </div>

          <div class="col-md-6 d-md-block d-none header-div">
            <div
              class="d-flex align-items-center  h-100 outline-flex-block-blue "
            >
              <div class="outline-flex-block-div-child "></div>

              <div class="outline-flex-block-div-child  ml-auto">
                <ul>
                  <li>+3809625555555</li>
                  <li>loerm</li>
                  <li>sss@dffdfd.com</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-line"></div>

    <!--=========2=======col-12 для секции main============= -->
    <div class="col-12 ">
      <main class="main outline-seo-block-pink">
        <!-- =================2 row для main============= -->
        <div class="row justify-content-around outline-row-red ">
          <div class="col-md-3 order-md-1 order-2  ">
            <div
              class="d-flex flex-column justify-content-between h-100  outline-flex-block-blue "
            >
              <div class="content-left-div outline-flex-block-div-child ">
                <ul>
                  <li>1lorem</li>
                  <li>2lorem</li>
                  <li>3lorem</li>
                  <li>4lorem</li>
                  <li>5lorem</li>
                  <li>6lorem</li>
                  <li>7lorem</li>
                  <li>8lorem</li>
                  <li>9lorem</li>
                  <li>10lorem</li>
                  <li>11lorem</li>
                  <li>12lorem</li>
                </ul>
              </div>

              <div class="content-left-div outline-flex-block-div-child ">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>
            </div>
          </div>

          <div class="col-md-9 order-md-2 order-1 outline ">
            <div
              class="d-flex flex-row flex-wrap justify-content-around content-right outline-flex-block-blue "
            >
              <div class="mx-10 w-100 p-2  ">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Quos fugit quod, placeat sit explicabo eveniet
                reprehenderit, eligendi velit impedit, enim fugiat voluptate
                molestiae distinctio illo ad neque quis at. Alias ad tempore
                beatae, maxime corrupti magni quam nobis aperiam quidem
                officiis suscipit possimus veritatis blanditiis optio,
                provident, maiores ipsum illo. Lorem ipsum, dolor sit amet
                consectetur adipisicing elit. Ex expedita architecto
                dignissimos nemo voluptatibus explicabo vero unde earum eos
                deserunt. Totam, repudiandae illo. Rerum non dolorum fugit
                harum, laudantium sed natus ipsum adipisci
              </div>
              <div class="w-100"></div>
              <div class="img">
                <img src="img/images (1).jpg" alt="sale" />
              </div>
              <div class="img ">
                <img src="img/images (1).jpg" alt="sale" />
              </div>
              <div class="img ">
                <img src="img/images (1).jpg" alt="sale" />
              </div>
              <div class="img ">
                <img src="img/images (1).jpg" alt="sale" />
              </div>
              <div class="img ">
                <img src="img/images (1).jpg" alt="sale" />
              </div>
              <div class="img ">
                <img src="img/images (1).jpg" alt="sale" />
              </div>
              <div class="img ">
                <img src="img/images (1).jpg" alt="sale" />
              </div>
              <div class="img ">
                <img src="img/images (1).jpg" alt="sale" />
              </div>
              <div class="img ">
                <img src="img/images (1).jpg" alt="sale" />
              </div>
              <div class="img ">
                <img src="img/images (1).jpg" alt="sale" />
              </div>
              <div class="img ">
                <img src="img/images (2).jpg" alt="sale" />
              </div>
              <div class="img ">
                <img src="img/images (2).jpg" alt="sale" />
              </div>
              <div class="img ">
                <img src="img/images (2).jpg" alt="sale" />
              </div>
              <div class="w-100"></div>
              <div
                class="box-right d-flex flex-row   justify-content-around outline-flex-block-blue "
              >
                <div class="box-width-45 outline-flex-block-div-child ">
                  з Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Blanditiis, quaerat! Lorem ipsum dolor sit amet Lorem
                  ipsum
                </div>

                <div class="box-width-45 outline-flex-block-div-child  ">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Similique officiis sed id sunt blanditiis, architecto
                  error doloribus explicabo maiores consequatur eum fugiat.
                  Atque eligendi distinctio ipsa facilis dolore quaerat esse
                  rerum labore veritatis! Omnis consequuntur fuga amet ullam
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div class="div-line"></div>

    <!--=========3=======col-12 для секции footer============= -->
    <div class="col-12 align-self-end">
      <div class="footer outline-seo-block-pink">
        <!-- =================3 row для секции footer============= -->
        <div class="row justify-content-around  outline-row-red ">
          <div class=" col-md-7">
            <div
              class="d-flex flex-row justify-content-between  outline-flex-block-blue"
            >
              <div
                class="d-flex flex-row box-width-45 outline-flex-block-blue"
              >
                <div class="footer-div  w-50 outline-flex-block-div-child">
                  <ul>
                    <li>1lorem</li>
                    <li>2lorem</li>
                    <li>3lorem</li>
                    <li>4lorem</li>
                    <li>5lorem</li>
                    <li>6lorem</li>
                    <li>6lorem</li>
                    <li>6lorem</li>
                    <li>6lorem</li>
                  </ul>
                </div>
                <div class="footer-div   w-50 outline-flex-block-div-child">
                  <ul>
                    <li>1lorem</li>
                    <li>2lorem</li>
                    <li>3lorem</li>
                    <li>4lorem</li>
                    <li>5lorem</li>
                    <li>6lorem</li>
                    <li>6lorem</li>
                    <li>6lorem</li>
                    <li>6lorem</li>
                    <li>5lorem</li>
                    <li>6lorem</li>
                    <li>6lorem</li>
                    <li>6lorem</li>
                    <li>6lorem</li>
                  </ul>
                </div>
              </div>
              <div
                class="footer-div box-width-45 outline-flex-block-div-child"
              >
                <ul>
                  <li>1loremc</li>
                  <li>2loremcccccc</li>
                  <li>3loremcccccccc</li>
                  <li>4loremccccccccc</li>
                  <li>5loremccccccccc</li>
                  <li>1loremcccccccc</li>
                  <li>2loremccccccccc</li>
                  <li>5lorem</li>
                  <li>1lorem</li>
                  <li>2lorem</li>
                </ul>
              </div>
            </div>
          </div>
          <div class=" col-md-5">
            <div
              class="d-flex flex-column h-100 justify-content-between s  outline-flex-block-blue "
            >
              <div class="footer-div outline-flex-block-div-child">
                арпрпрппр Lorem ipsum dolor sit amet consectetur, Lorem
              </div>
              <div class="footer-div outline-flex-block-div-child">
                <img src="img/2019-10-04_20-21-22.png" alt="avanges" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>